<h3>Books</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Publisher</th>
      <th>Year</th>
      <th>Rented</th>
      <th>Reserved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.publisher %></td>
        <td><%= book.year %></td>
        <td><%= book.rented %></td>
        <td><%= book.reserved %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
